.booking-detail {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin: 60px 20px 0px 20px;
    height: auto;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 20px;
}

.booking-details-wraper h6 {
    font-size: 34px;
    color: #35AD0A;
    font-weight: 600;
    font-family: 'Outfit';
}
.mane-main-wraper{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.booking-details-wraper {
    margin: 30px;
    padding-bottom: 30px;
}
.image-container-manebook{
    overflow: hidden !important;
}
.location-detaoil {
    /* width: 100%; */
    margin-top: 10px;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight:500;
}

.location-detaoil label {
    font-size: 22px;
    color: #0F172A;
    font-weight: 600;
    font-family: 'Outfit';
}
.time-zone{
    margin-right: 80px;
}
.booking-details-wraper h6{
    padding-bottom: 40px;
}

.status-text {
    font-size: 30px !important;
    color: #0F172A !important;
    font-weight: 600;
    font-family: 'Outfit';
}
.modyfy-booing-request-m {
    /* background-color: #E8EBED; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: auto;
    margin: 0px 20px 0px 20px;
    border-radius: 8px;
}
.modify-request-wrapper-form{
    padding: 30px;
}
.confirm-statua-btn {
    width: 119px;
    height: 40px;
    background-color: #35AD0A;
    border-radius: 8px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Outfit';
    margin-left: 46px;
    padding: 5px;
}

.mody-request-btnm {
    height: 70px;
    width: 90%;
    background-color: #35AD0A;
    border-radius: 8px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Outfit';
}

.cancel-request-btn {
    height: 70px;
    width: 90%;
    background-color: #E7191C;
    border-radius: 8px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Outfit';
}

.doenload-request-btn {
    height: 70px;
    width: 90%;
    background-color: #64748B;
    border-radius: 8px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Outfit';
}

.cancel-div {
    margin-top: 40px;
}

.cancel-div h6 {
    font-size: 30px;
    color: #0F172A;
    font-weight: 600;
    font-family: 'Outfit';
    padding-bottom: 5px;
}

.cancel-div p {
    font-size: 21px !important;
    color: #1E293B !important;
    font-weight: 500;
    font-family: 'Outfit';
    padding-top: 20px;
    padding-bottom: 10px;
}

.cancil-policy-btn {
    background-color: #35AD0A;
    border-radius: 8px;
    height: 70px;
   
    font-size: 24px !important;
    color: #ffffff !important;
    font-weight: 500;
    font-family: 'Outfit';
}

.booking-id {
    font-size: 22px;
    font-family: 'Outfit';
    font-weight: 600;
    color: #0F172A;
    padding-top: 20px;
}

.bookin-id-text {
    font-size: 16px;
    font-family: 'Outfit';
    font-weight: 600;
    color: #28425A;
    padding-left: 10px;
}

@media (min-width: 320px) and (max-width: 450px) {
    .mody-request-btnm {
        height: 40px;
        width: 90%;
        background-color: #35AD0A;
        border-radius: 8px;
        font-size: 10px;
        color: #ffffff;
        font-weight: 600;
        font-family: 'Outfit';
    }
    
    .cancel-request-btn {
        height: 40px;
        width: 90%;
        background-color: #E7191C;
        border-radius: 8px;
        font-size: 10px;
        color: #ffffff;
        font-weight: 600;
        font-family: 'Outfit';
    }
    
    .doenload-request-btn {
        height: 40px;
        width: 90%;
        background-color: #64748B;
        border-radius: 8px;
        font-size: 10px;
        color: #ffffff;
        font-weight: 600;
        font-family: 'Outfit';
    }
.moboile-btn-group{
display: flex !important;
flex-direction: column !important;
margin: 0px auto;
}
.mody-request-btnm-div  {
    width: 100%;
    margin-top: 10px;
}
}